{% extends 'inicio/encabezado.html' %} {% block titulo %} Medicina {% endblock %} {% comment %} Contenido Cursos {% endcomment %} {% block contenido %}

<div class="card m-5 p-2 m-auto" style="width: 600px;">
<!-- Formulario -->
<form class="form-horizontal" action="{% url 'editarPaciene' medicamento.id %}" method="POST" role="form">
    {%csrf_token%}
    <div class="form-group">
     <img src="{{medicamento.archivo.url}}" class="card-img-top m-auto" style="width:250px;" alt="...">
     </div>
    <div class="card-body">
        <div class="form-group">
            <label class="form-label">Nombre del Paciente</label>
            <input type="text" name="NombrePaciente" required class="form-control" value="{{medicamento.NombrePaciente}}">
        </div>
        <div class="form-group">
            <label class="form-label">Edad</label>
            <input type="number" name="Edad" required class="form-control" value="{{medicamento.Edad}}">
        </div>
        <div class="form-group">
            <label class="form-label">Sexo</label>
            <select class="form-select" name="Sexo" aria-label="Default select example">
                <option value="Hombre">H</option>
                <option value="Mujer">M</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-label">CURP</label>
            <input type="text" name="CURP" required class="form-control" value="{{medicamento.CURP}}">
        </div>
        <div class="form-group">
            <label class="form-label">Direccion</label>
            <input type="text" name="Direccion" required class="form-control" value="{{medicamento.Direccion}}">
        </div>
        <div class="form-group">
            <label class="form-label">Telefono</label>
            <input type="number" name="Telefono" required class="form-control" value="{{medicamento.Telefono}}">
        </div>
        <div class="form-group">
            <label class="form-label">Medicamentos a Tomar</label>
            <textarea type="text" name="Medicamento" required class="form-control" value=""> {{medicamento.Medicamento}}</textarea>
        </div>
        <div class="form-actions text-right">
            <input type="submit" value="Enviar" class="btn btn-primary">
        </div>
</form>
</div>



{%endblock%}